<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-5">
    <div class="container">
        <style type='text/css'>
        .navbar
            {
                background-color:#a82447 ! important;
            }
        </style>
        <a href="/" class="navbar-brand">UWS Software Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
        <span class="navbar-toggle-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav mi-auto">
                <li class"navbar-brand">
                    <a  class="navbar-brand" href="{{ path('logout') }}">Logout </a>
                </li>
            </ul>
        </div>
    </div>
</nav>